@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');


input[type="submit"] {
	background: none;
	border: none;
}

* {
	scroll-behavior: smooth;
}

body {
    font-family: 'Kreon';
    margin: 0;
	padding: 0;
	
}


/* Sub Materi */

.SubMateri {
	width: 1320px;
	height: 455px;
	/* background-color: red; */
	background-color: #F1F4FD;
	position: absolute;
	margin-top: 400px;
	margin-left: 200px;
	display: grid;
	/* display: none; */
	/* justify-content: center; */
	align-items: center;
	/* right: 10%; */
	/* visibility: hidden; */
	box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 
	0px 46px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 
	0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

.SubMateriBagian {
	/* background-color: yellow; */
	height: 370px;
	width: 140px;
	margin-left: 50px;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


.SubMateriTitle {
	height: 40px;
	font-weight: 400;
	font-size: 20px;
	/* background-color: yellow; */
}

.SubMateriSubBagian {
	width: 40px;
	height: 40px;
	/* background-color: green; */
	margin: auto;
}

form {
    width: 800px;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}

/* Sub Materi */



/* Header */

.HeaderFormText {
	background-color: #D9D9D9;
	width: 250px;
	height: 60px;
	border: none;
	margin-left: 30px;
	font-size: 30px;
	font-family: 'Kreon', serif;
}


.header {
	background-color: #DCE4FD;
	/* background-color: yellow; */
	position: fixed;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 42px 17px rgba(11, 27, 75, 0.01), 0px 24px 14px rgba(11, 27, 75, 0.05), 0px 11px 11px rgba(11, 27, 75, 0.09), 0px 3px 6px rgba(11, 27, 75, 0.1), 0px 0px 0px rgba(11, 27, 75, 0.1);
}

.LogoHeader {
	transform: scale(1);
}

.TempatLogoHeader {
	height: 100px;
	width: 300px;
	/* margin-top: 20px; */
	margin-left: 5%;
	float: left;
	/* background-color: green; */
}

.Navigasi {
	/* background-color: red; */
	height: 80px;
	width: 500px;
	/* margin-top: 20px; */
	margin-left: 15%;
	/* padding-top: 20px;  */
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
}

.SubNavigasi {
	width: 100px;
	font-family: 'Kreon', serif;
	height: 40px;
	/* background-color: green; */
	/* margin-top: 15px; */
	/* margin-left: 20px; */
	/* text-align: center; */
	font-size: 25px;
	display: flex;
	align-items: center;
	float: left;
}

.SubNavigasiFokus {
	background: #88A3E2;
	width: 65px;
	margin-right: 20px;
	display: flex;
	justify-content: center;
	color: white;
	border-radius: 10px;
}


.FrameNya {
	background-color: #D9D9D9;
	font-family: 'Kreon', serif;
	width: 350px;
	height: 60px;
	margin-top: 0px;
	
	border-radius: 20px;
	border: none;
	padding-top: 0px;
	float: left;
}

.GambarKacaLup {
	transform: scale(2.5);
	margin-left: 30px;
	margin-top: 20px;
	float: left;
}

.SearchDanAkun {
	/* background-color: red; */
	height: 80px;
	width: 700px;
	margin-left: 3%;
	/* margin-top: 30px; */
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	color: black;
}

.Akun {
	/* background: #F1F4FD; */
	width: 120px;
	height: 50px;
	margin-left: 155px;
	/* margin-top: 6px; */
	float: left;
	font-family: 'Kreon', serif;
	font-size: 30px;
	display: flex;
	justify-content: right;
	align-items: center;
	color: black;
}

.HeaderTombolDaftar {
	font-family: 'Kreon', serif;
	background-color: #88A3E2;
	margin-left: 0px;
	color:#F1F4FD;
}

.Jarak {
	margin-left: 20px;
}

/* Header */

.Pembatas {
	background-color: pink;
	height: 150px;
	width: 100%;
}

/* Dashboard 2 */

select, input[type= submit] {
	font-family: 'kreon';
}

button[type= submit] {
    background: none;
    border: none;
}

.Dashboard2BG {
	background: #F1F4FD;
	height: 2500px;
	/* background: green; */
}

.Dashboard2StatusLangganan {
	width: 100%;
	height: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	background: linear-gradient(92.95deg, #88A3E2 19.68%, rgba(136, 163, 226, 0) 100.21%);
}

.Dashboard2PerBagianStatusLangganan {
	width: 55%;
	height: 140px;
	margin-top: 15px;
    display: flex;
    align-items: center;
    /* background-color: red; */
	

	/* BackgroundColor */

	/* background: #F1F4FD;
	box-shadow: 31px 0px 13px rgba(11, 27, 75, 0.01), 18px 0px 11px rgba(11, 27, 75, 0.05), 8px 0px 8px rgba(11, 27, 75, 0.09), 2px 0px 4px rgba(11, 27, 75, 0.1), 0px 0px 0px rgba(11, 27, 75, 0.1);
	border-radius: 10px; */
}

.Dashboard2BagianLangganan {
	margin-top: 10px;
	height: 270px;
	border-radius: 20px;
	background: #F1F4FD;
	box-shadow: 31px 0px 13px rgba(11, 27, 75, 0.01), 18px 0px 11px rgba(11, 27, 75, 0.05), 8px 0px 8px rgba(11, 27, 75, 0.09), 2px 0px 4px rgba(11, 27, 75, 0.1), 0px 0px 0px rgba(11, 27, 75, 0.1);
	border-radius: 10px;
}

.Dashboard2BagianKonten {
	width: auto;
	max-width: 600px;
	height: 100px;
	/* background-color: red; */
	margin-top: 20px;
	margin-left: 80px;
	/* padding-left: 20px; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
    justify-content: center;
}

.Dashboard2BagianDalamLangganan {
	padding-left: 20px;
	width: 450px;
	height: 50px;
	display: flex;
	align-items: center;
}

.Dashboard2TempatLangganan {
	height: 150px;
	width: 95%;
}

.Dashboard2TabelLangganan {
	height: 137px;
	width: 100%;
	/* Black */

	border: 1px solid #404040;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Dashboard2Aktivitas {
	width: 100%;
	height: 456px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* background: linear-gradient(92.95deg, #88A3E2 19.68%, rgba(136, 163, 226, 0) 100.21%); */
	/* background-color: pink; */
}

.Dashboard2PerBagianAktivitas {
	margin-top: 50px;
	width: 95%;
	height: 680px;
	border-radius: 20px;
	background: #F1F4FD;
	/* background-color: green; */
	/* box-shadow: 31px 0px 13px rgba(11, 27, 75, 0.01), 18px 0px 11px rgba(11, 27, 75, 0.05), 8px 0px 8px rgba(11, 27, 75, 0.09), 2px 0px 4px rgba(11, 27, 75, 0.1), 0px 0px 0px rgba(11, 27, 75, 0.1); */
	border-radius: 10px;
	display: flex;
	justify-content: center;
}

.Dashboard2TabelAktivitas {
	width: 95%;
	height: 591px;
	margin-top: 30px;
	border: 2px solid #89C2D9;
	border-radius: 10px;
	/* display: flex;
	justify-content: center; */
}

.Dashboard2TataLetakAktivitasIsiKosong {
	/* background-color: green; */
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.Dashboard2AktivitasKonten {
	height: 70px;
	width: 60%;
	/* background-color: red; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	color: #8C8C8C;
}

.Dashboard2AktivitasIsiKosong {
	/* background-color: pink; */
	width: 350px;
	height: 200px;
}

.Dashboard2AktivitasTombolBelajar {
	width: 60%;
	height: 40px;
	background: #88A3E2;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Dashboard2PesanBelumLangganan {
	background: none;
	width: auto;
	color: #8C8C8C;
}

.Dashboard2TitleAktivitas {
	width: 250px;
	height: 50px;
	margin-top: 10px;
	margin-left: 40px;
	/* background-color: red; */
	font-size: 25px;
	display: flex;
	align-items: center;
}

.Dashboard2AktivitasGarisBawahHeader {
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background-color: #89C2D9;
}

.Dashboard2NotifikasiBelumLangganan {
	font-weight: 200;
	margin-left: 400px;
}

.Dashboard2PilihLevelLangganan {
	width: 300px;
	height: 50px;
	background: #88A3E2;
	border: 1px solid #88A3E2;
	border-radius: 5px;
	margin-left: 400px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Dashboard2Sambutan {
	width: auto;
	height: 50px;
	/* background-color: yellow; */
	font-size: 30px;
	color: #F1F4FD;
	display: flex;
	align-items: center;
    justify-content: center;
}

.Dashboard2titletabelstatuslangganan {
	color: black;
}

.Dashboard2KataMotivasi {
	font-size: 25px;
	/* background-color: yellow; */
	display: flex;
	align-items: center;
}

/* Dashboard 2 */

/* Footer */
.FooterSetelahLogin {
	background: #F1F4FD;
	width: 100%;
	height: 60px;
}

.FooterGarisBawah {
	height: 2px;
	width: 85%;
	background-color: #89C2D9;
	margin-left: auto;
	margin-right: auto;
}

.FooterCopyright {
	/* background-color: pink; */
	width: 180px;
	height: 20px;
	margin-left: 130px;
	margin-top: 20px;
}
/* Footer */