@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 800;
    font-size: 40px;
}

h2 {
    font-weight: 600;
    font-size: 30px;
}

.order {
    background-color: #F1F4FD;
    margin-top: 0px;
    float: none;
    padding-left: 5%;
    font-family: 'Kreon', serif;
    height: 1150px;

}

.order form{
    width: 1550px;
    background: #DCE4FD;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 15px;
    margin-top: 50px;
    /* margin: 0 auto; */
}

.order form .inputBox{
    display: flex;
    flex-wrap:  wrap;
}

.order form .inputBox1{
    display: flex;
}

.order form .inputBox .input{
    width: 500px;
}

.order form .inputBox1 .input1{
    width: 250px;
}

.order form .inputBox1 .input2{
    width: 150px;
    margin-left: 100px;
}

.order form .inputBox .input span{
    display: block;
    padding: 8px 0;
    font-size: 20px;
    color: black;
}

.order form .inputBox1 .input1 span{
    display: block;
    padding: 8px 0;
    font-size: 20px;
    color: black;
}

.order form .inputBox1 .input2 span{
    display: block;
    padding: 8px 0;
    font-size: 20px;
    color: black;
}


.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background: #eee;
    border-radius: 8px;
    padding: 16px;
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-bottom: 16px;
    width: 100%;
}

.order form .inputBox1 .input1 input,
.order form .inputBox1 .input1 textarea{
    background: #eee;
    border-radius: 8px;
    padding: 16px;
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-bottom: 16px;
    width: 100%;
}

.order form .inputBox1 .input2 input,
.order form .inputBox1 .input2 textarea{
    background: #eee;
    border-radius: 8px;
    padding: 16px;
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-bottom: 16px;
    width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border: 1px solid black;
}


.order form .inputBox .input textarea{
    height: 40px;
    resize: none;
}

.order form .inputBox1 .input1 textarea{
    height: 40px;
    resize: none;
}

.order form .inputBox1 .input2 textarea{
    height: 40px;
    resize: none;
}

.button {
    margin-top: 16px;
    display: inline-block;
    font-size: 20px;
    color: white;
    background: #88A3E2;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 130px;
    height: 50px;
    padding: 10px 30px;
}



.button2 {
    margin-top: 16px;
    margin-left: 30px;
    display: inline-block;
    font-size: 20px;
    color: black;
    background: #F1F4FD;
    border-radius: 5px;
    border-color: #88A3E2;
    cursor: pointer;
    width: 130px;
    height: 50px;
    padding: 10px 30px;
}

.button:hover{
    background-color: #3662c9;
}

/* Notifikasi */

#kiri{
	/* background-color: green; */
	float: left;
    width: 200px;
	margin-left: 20px;

}
#kanan{
	float: right;
    width: 60px;
	/* background-color: green;   */
	margin-top: 10px;
	margin-right: 20px;
}
#main{
    text-align: center;
    padding: 70px;
}
.wrap{
    position: absolute;
    width: 500px;
    margin-left: 65%;
	margin-top: 180px;
    background: #F1F4FD;
	right: 100%;
    font-family: 'Kreon';
    /* display: none; */

    border: 1px solid #D9D9D9;
    box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 0px 46px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);

}

/* Notifikasi */



/* Account */


.AccountBG {
    position: absolute;
    width: 300px;
    height: 480px;
    margin-left: 80%;
	margin-top: 180px;
    /* BackgroundColor */

    background: #F1F4FD;
	right: 100%;
    /* display: none; */
    /* background-color: red; */
    /* light grey */

    

    box-shadow: 0px 81px 33px rgba(0, 0, 0, 0.01), 0px 46px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.Tampilkan {
	right: 5%;
	transition: .3s linear;
}


.AccountTitle {
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: 'Kreon';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    

    color: #404040;
    /* background-color: red; */
}

.AccountTitleLogo {
    float: right;
    margin-right: 20px;
}

.AccountRataTengah {
    /* background-color: green; */
    width: 100%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    
}

.AccountPerBagian {
    /* background-color: yellow; */
    width: 85%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.AccountTempatLogo {
    /* background-color: rgb(49, 48, 48); */
    width: 60px;
    height: 40px;
    /* margin-left: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.AccountTulisanTipis {
    font-size: 10px;
    display: flex;
    align-items: center;
    font-weight: 400;
}

.AccountTempatNama {
    /* background-color: blue; */
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    flex-wrap: wrap;
}


.AccountPembagianTempatNama {
    /* background-color: red; */
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}


.AccountGarisBawahHeader {
    height: 2px;
    width: 90%;
    background-color: #89C2D9;
    margin-top: 4px;
}

.AccountGarisAtasFooter {
    height: 2px;
    width: 90%;
    background-color: #89C2D9;
    margin-top: 4px;
}


.AccountGarisBawahFooter {
    height: 2px;
    width: 90%;
    background-color: #89C2D9;
    margin-top: 4px;
}


/* Account */



/* Header */

.HeaderFormText {
    background-color: #D9D9D9;
    width: 250px;
    height: 60px;
    border: none;
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Kreon', serif;
}


.header {
    background-color: #DCE4FD;
    /* background-color: yellow; */
    position: fixed;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 42px 17px rgba(11, 27, 75, 0.01), 0px 24px 14px rgba(11, 27, 75, 0.05), 0px 11px 11px rgba(11, 27, 75, 0.09), 0px 3px 6px rgba(11, 27, 75, 0.1), 0px 0px 0px rgba(11, 27, 75, 0.1);
}

.LogoHeader {
    transform: scale(1);
}

.TempatLogoHeader {
    height: 100px;
    width: 300px;
    /* margin-top: 20px; */
    margin-left: 5%;
    float: left;
    /* background-color: green; */
}

.Navigasi {
    /* background-color: red; */
    height: 80px;
    width: 500px;
    /* margin-top: 20px; */
    margin-left: 15%;
    /* padding-top: 20px;  */
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.SubNavigasi {
    width: 100px;
    font-family: 'Kreon', serif;
    height: 40px;
    /* background-color: green; */
    /* margin-top: 15px; */
    /* margin-left: 20px; */
    /* text-align: center; */
    font-size: 25px;
    display: flex;
    align-items: center;
    float: left;
}

.SubNavigasiFokus {
    background: #88A3E2;
    width: 65px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
}


.FrameNya {
    background-color: #D9D9D9;
    font-family: 'Kreon', serif;
    width: 350px;
    height: 60px;
    margin-top: 0px;

    border-radius: 20px;
    border: none;
    padding-top: 0px;
    float: left;
}

.GambarKacaLup {
    transform: scale(2.5);
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}

.SearchDanAkun {
    /* background-color: red; */
    height: 80px;
    width: 700px;
    margin-left: 3%;
    /* margin-top: 30px; */
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: black;
}

.Akun {
    /* background: #F1F4FD; */
    width: 120px;
    height: 50px;
    margin-left: 155px;
    /* margin-top: 6px; */
    float: left;
    font-family: 'Kreon', serif;
    font-size: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
    color: black;
}

.HeaderTombolDaftar {
    font-family: 'Kreon', serif;
    background-color: #88A3E2;
    margin-left: 0px;
    color: #F1F4FD;
}

.Jarak {
    margin-left: 20px;
}

/* Header */

.Pembatas {
	background-color: #F1F4FD;
	height: 200px;
	width: 100%;
}

/* footer */

.JarakLogoFooter {
	margin-left: 10px;
}

.GarisAtasFooter {
	width: 90%;
	height: 2px;
	margin-left: 5%;
}

.GarisBawahFooter {
	width: 90%;
	height: 2px;
	margin-left: 5%;
	margin-top: 20px;
}

.Footer {
	font-family: 'Kreon', serif;
	/* background-color: red; */
	background-color: #F1F4FD;
	width: 100%;
	height: 400px;
	float: left;
}



.FooterKonten {
	/* background-color: red; */
	width: 320px;
	height: 300px;
	float: left;
	margin-left: 10%;
	margin-top: 20px;
}

.FooterPalingKiri {
	/* background-color: red; */
	width: 320px;
	height: 300px;
	float: left;
	margin-left: 9%;
	margin-top: 20px;
}


.FooterTempatTitleAlamatDanLinks {
	/* background-color: green; */
	width: 320px;
	height: 40px;
	float: left;
	margin-left: 23px;
	font-size: 25px;
	font-weight: 400;
	text-align: center;
}

.FooterTempatNamaCourse {
	/* background-color: green; */
	/* width: 250px; */
	height: 40px;
	float: left;
	margin-left: 23px;
	font-size: 30px;
	font-weight: 400;
}

.FooterTempatDefinisiCourse {
	/* background-color: green; */
	/* width: 250px; */
	height: 40px;
	float: left;
	margin-left: 23px;
	font-size: 20px;
	font-weight: 200;
	
}


.FooterTempatKonten {
	/* background-color: green; */
	width: 290px;
	height: 40px;
	float: left;
	margin-left: 23px;
}

.FooterTempatLogoKonten {
	/* background-color: green; */
	width: 100px;
	height: 100px;
	float: left;
	margin-left: 23px;
}

.FooterTempatLinks {
	/* background-color: green; */
	width: 100px;
	height: 150px;
	float: left;
	margin-left: 120px;
	font-size: 25px;
	font-weight: 200;
	text-align: left;
}

.FooterTempatDeskripsiKonten {
	/* background-color: green; */
	width: 320px;
	height: 150px;
	float: left;
	margin-left: 23px;
	font-size: 20px;
	font-weight: 200;
}


/* footer */